[Unit]
Description = Vision program that tracks yellow ball for team 1259
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u 1259Vision.py
WorkingDirectory=/home/pi/Vision2020/src
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
