[Unit]
Description = Camera Switching Python Program
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u 1259VisionSussex.py
WorkingDirectory=/home/pi/Vision2020/src
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target