[Unit]
Description = Visioning yellow balls on ground with camera switching
After=network.target

[Service]
ExecStart=python3 1259Vision.py
WorkingDirectory=/home/pi/Vision2020/src
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
